
html, body {
	height:100%;
}
body {
	background:#1F3044;
	background: linear-gradient(to right, #B20600, #FF5F00);
}

.header {
	color:#143F6B;
	font-family:'Akshar', sans-serif;
	font-size:7vh;
}

.main-content {
	flex:1;
}
.container {
	display:flex;
	flex-direction: column;
	align-items: center;
	min-height:90vh;
	padding:10px;
}
.links-container {
	display:flex;
        justify-content: center;
}

.link-item {
	padding:5px;
}

.link-item img:hover {
	height:5vh;
}

.link-item img{
	height:4vh;
}

.footer {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.footer-item a {
	font-family:'Roboto', sans-serif;
	font-size:3vh;
	color:#EEEEEE;
	text-decoration: none;
}



